
# Dependencies
node_modules/
vendor/
vendor-prefixer/
.pnpm-store/

# Local
.vscode/
*.local.sh

# OS specific files
.DS_Store
._*
.directory

# Generated content
!**/.gitkeep
composer.lock
magento-coding**/

# Sensitive
.devcontainer/**/auth.json
.devcontainer/**/sensitive.env
