<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="stancer_section" sortOrder="1" showInDefault="0" showInWebsite="1"
                showInStore="1">
                <group id="stancer" translate="label comment" type="text" showInDefault="1"
                    showInWebsite="1"
                    showInStore="1">
                    <label>Stancer</label>
                    <comment><![CDATA[Simple payment solution at low prices.]]></comment>
                    <fieldset_css>complex stancer-section</fieldset_css>
                    <frontend_model>StancerIntegration\Payments\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <attribute type="activity_path">payment/stancer_payments/active</attribute>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <field id="active" translate="label" type="select" sortOrder="1"
                        showInDefault="1"
                        showInWebsite="1"
                        showInStore="0">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/stancer_payments/active</config_path>
                        <requires>
                            <group id="stancer_required" />
                        </requires>
                    </field>
                    <field id="module_version" translate="label" type="text" sortOrder="2"
                        showInDefault="1"
                        showInWebsite="1"
                        showInStore="1">
                        <label>Module version</label>
                        <frontend_model>StancerIntegration\Payments\Model\Adminhtml\Source\ModuleVersion</frontend_model>
                    </field>
                    <group id="stancer_required" translate="label comment" showInDefault="1"
                        showInWebsite="1" showInStore="1"
                        sortOrder="2">
                        <comment>
                            <![CDATA[SETTING_GUIDE]]>
                        </comment>
                        <label>Basic Settings</label>
                        <attribute type="expanded">1</attribute>
                        <frontend_model>Magento\Config\Block\System\Config\Form\Fieldset</frontend_model>
                        <field id="title" translate="label" type="text" sortOrder="9"
                            showInDefault="1"
                            showInWebsite="1"
                            showInStore="1">
                            <label>Title</label>
                            <config_path>payment/stancer_payments/title</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="10"
                            showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Payment action</label>
                            <source_model>StancerIntegration\Payments\Model\Adminhtml\Source\PaymentAction</source_model>
                            <config_path>payment/stancer_payments/payment_action</config_path>
                        </field>
                        <field id="payment_flow" translate="label" type="select" sortOrder="11"
                            showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Payment flow</label>
                            <source_model>StancerIntegration\Payments\Model\Adminhtml\Source\PaymentFlow</source_model>
                            <config_path>payment/stancer_payments/payment_flow</config_path>
                        </field>
                        <field id="mode" translate="label" type="select" sortOrder="12"
                            showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Environment</label>
                            <source_model>StancerIntegration\Payments\Model\Adminhtml\Source\Mode</source_model>
                            <config_path>payment/stancer_payments/mode</config_path>
                        </field>
                        <field id="public_key" translate="label" type="obscure" sortOrder="13"
                            showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Public Key</label>
                            <config_path>payment/stancer_payments/public_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <depends>
                                <field id="mode">live</field>
                            </depends>
                        </field>
                        <field id="private_key" translate="label" type="obscure" sortOrder="14"
                            showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Private Key</label>
                            <config_path>payment/stancer_payments/private_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <depends>
                                <field id="mode">live</field>
                            </depends>
                        </field>
                        <field id="test_public_key" translate="label" type="obscure" sortOrder="13"
                            showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Test Mode Public Key</label>
                            <config_path>payment/stancer_payments/test_public_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <depends>
                                <field id="mode">test</field>
                            </depends>
                        </field>
                        <field id="test_private_key" translate="label" type="obscure" sortOrder="14"
                            showInDefault="1"
                            showInWebsite="1" showInStore="1">
                            <label>Test Mode Private Key</label>
                            <config_path>payment/stancer_payments/test_private_key</config_path>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <depends>
                                <field id="mode">test</field>
                            </depends>
                        </field>
                    </group>
                    <field id="payment_description" translate="label comment" type="text"
                        sortOrder="3" showInDefault="1"
                        showInWebsite="1"
                        showInStore="1">
                        <label>Payment Description</label>
                        <comment><![CDATA[By using the following tags you can use order data in the payment description:<br></br>Order ID: %order%<br></br>Amount: %amount%<br></br>Store Name: %store%]]></comment>
                        <config_path>payment/stancer_payments/payment_description</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
